html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.header-text {
    text-align: center;
    margin-bottom: 20px;
}

#login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #1e90ff; /* Cor de fundo alternativa */
}

#login-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#login-container label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#login-container input {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    font-size: 1rem;
}

#login-container p {
    font-size: 1rem;
    margin-bottom: 10px;
}

#login-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff; /* Cor do botão de login */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-button:hover {
    background-color: #0056b3; /* Cor do botão de login no hover */
}

#error-message {
    margin-top: 10px;
    font-size: 0.9rem;
    color: red; /* Cor do texto de erro */
}

#content-container {
    display: none;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#content-container h1 {
    margin-bottom: 20px;
}

#buttons-container {
    margin-bottom: 20px;
}

#buttons-container button, #elenco-select {
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

#filter-input {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

#atletas-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

#voltar-button {
    margin-block: 24px;
}

.detalhes-container {
    width: 100%;
    max-width: 1100px;

    margin: 0 auto;
    padding-inline: 24px;
}

.atleta-detalhes-container {
    display: flex;
    display: -webkit-flex;
    gap: 24px;
    flex-direction: column;
    -webkit-flex-direction: column;     
}

@media (min-width: 768px) {
    #login-container {
        height: auto;
        padding: 50px 20px;
    }

    #content-container {
        padding: 20px;
    }

    #atletas-list {
        grid-template-columns: repeat(1, 1fr);
    }

    #buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #buttons-container button, #elenco-select {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .atleta-detalhes-container {
        gap: 48px;
        flex-direction: row;
        -webkit-flex-direction: row;
    }
}

@media (min-width: 1024px) {
    #atletas-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    #atletas-list {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
        margin: 0 auto;
    }
}




